.nav {
  margin-top: 8px !important;
}
.nav-tabs {
  border-bottom: 1px #2d2d2d solid !important;
}

.nav-tabs .nav-link {
  background-color: #171717 !important;
  color: #ffffff !important;
}

.nav-link.active {
  border-color: #2d2d2d #2d2d2d #2d2d2d !important;
}

.mybtn {
  height: 1%;
  margin-top: 1.5%;
}
